*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }


  .learn-more-btn{
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    margin-top: 15px;

  }


  /* header section */
.Hero-bg{
  background-image: url("./assets/Hero-bg.png");
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;

}
.hero-img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}
.hero-content h1{
  text-align: center;
  font-size: 40px;
  margin-left: 221px;
  margin-right: 221px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.hero-content p{
  font-size: 16px;
  text-align: center;
  margin-left: 221px;
  margin-right: 221px;
  font-weight: 400;

}
.hero-content button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 21px 24px 21px 24px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}

/* why-development section */

.why-development {
  width: 79.67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-development-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-development-text h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

.why-development-text p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.btn-secondary {
  width: 150px;
  height: 48px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}

.btn-secondary a {
  text-decoration: none;
}

.wd-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.wd-section-1-text {
  width: 50%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  column-gap: 5px;
}

.wd-section-1-text {
  opacity: 0.7;
  font-size: 16px;
}

.wd-section-1-image {
  width: 50%;
  width: 259.56px;
  height: 217.01px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* skill section here */
.skill-container{
  display: flex;
  gap: 24px;

 
}
.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin: 50px 100px;
}

.skill h1{
  margin-bottom: 15px;
}

.skill p{
  margin-top: 15px;
}
/* skill section here */

/* inspiron section */
.inspiration h1 {
  text-align: center;
  margin-top: 30px;
}

.inspiration p{
  text-align: center;
  margin-top: 15px;
}
.y-video{
  display: block;
  margin: 0 auto;

  margin-top: 15px;

}


/* handshake section */

.handshake {
  height: 314px;
  width: 79.67%;
  margin: 0 auto;
  background-image: url(./assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.handshake-text {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.handshake-text h2 {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.handshake-text p {
  width: 50%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.input-section input {
  width: 548px;
  height: 57px;
  border: 2px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* footer section */

.footer-section-container {
  background-color: #f7f8f8;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-section-text {
  background-color: #fff;
  font-weight: 200;
  font: 16px;
}

.footer-section-link ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.footer-section-link ul li {
  list-style: none;
}

.footer-section-link ul li a {
  text-decoration: none;
}
