*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }


  .learn-more-btn{
    padding: 12px 20px 12px 20px;
    border-radius: 8px;

  }


  /* header section */
.Hero-bg{
  background-image: url("./assets/Hero-bg.png");
  width: 100%;
  height: 652px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;

}
.hero-img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}
.hero-content h1{
  text-align: center;
  font-size: 40px;
  margin-left: 221px;
  margin-right: 221px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.hero-content p{
  font-size: 16px;
  text-align: center;
  margin-left: 221px;
  margin-right: 221px;
  font-weight: 400;

}
.hero-content button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 21px 24px 21px 24px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}

.why{
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;

}
.why-cont h1{
  text-align: center;
  margin-bottom: 12px;
}
.why-cont-1 h3{
  margin-top: 60px;
}
.why-cont-1 p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.why-cont p{
  text-align: center;
  margin-top: 10px;
}
.why-btn-1{}




/* inspiration section */
.inspiration{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  
}

.inspiration h1{
  text-align: center;
}

.inspiration p{
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
}

.inspiration iframe{
  width: 1140px;
  height: 614px;
  margin-top: 20px;
}


/* tecnnoloy css */
.c-target{
  margin-top: 140px;
  margin-bottom: 20px;
}

.c-h1{
  text-align: center;
  margin-top: ;
}

.c-target p{
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  line-height: 20px;
}


.footer-container{
  border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
width: 100%;
margin-top: 50px;


}

.content{
text-align: left;
margin-left: 150px;
}
.cont-link{
  display: flex;
  justify-content: space-around;
}